html {
  font-size: 16px;
}

@media (min-width: 640px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--theme-color);
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.06rem;
  margin-bottom: var(--gap-2);
}

/* https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */
/* ::-webkit-scrollbar {
  display: none;
} */

h1,
h2,
h3 {
  font-size: var(--text-xl);
}

h5,
h4,
h6 {
  font-size: var(--text-lg);
}

p {
  max-width: var(--size-8);
  margin: var(--gap-2) auto;
}

strong {
  font-weight: 600;
}

small {
  font-size: var(text-sm);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--link-visited-color);
}
