:root {
  --container-width: 960px;

  --theme-color: #ff3e00;
  --white: #fff;
  --grey: #eee;
  --black: #333;

  --bg-color: var(--grey);
  --text-color: var(--black);
  --heading-color: var(--theme-color);
  --link-color: rgb(0, 100, 200);
  --link-visited-color: rgb(0, 80, 160);

  --gap-0: 0rem;
  --gap-1: 0.25rem;
  --gap-2: 0.5rem;
  --gap-3: 0.75rem;
  --gap-4: 1rem;
  --gap-5: 1.25rem;
  --gap-6: 1.5rem;
  --gap-7: 2rem;
  --gap-8: 3rem;

  --size-0: 0;
  --size-1: 3rem;
  --size-2: 4rem;
  --size-3: 5rem;
  --size-4: 7rem;
  --size-5: 10rem;
  --size-6: 14rem;
  --size-7: 20rem;
  --size-8: 30rem;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 4rem;
}
